body {
    overflow: hidden;
}

.showDiv {
    visibility: visible
}

.contentContainer {
    overflow-y: hidden;
    overflow-x: hidden;
    visibility: hidden;
    height: 100%;
}

.row {
}

.header {
    position: relative;
    width: 100%;
}

.logo {
    margin-right: 20px;
    opacity: 0;
}

.nav a {
    color: #4141ff;
}

.hangboardHeader {
    position: relative;
    height: 50px;
    width: 100%;
}

.hangboardPic_left {
    display: inline-block;
    position: absolute;
    left: 65px; 
    top: -20px;
    width: 173px;
    height: 62px;
}

.hangboardPic_right {
    display: inline-block;
    position: absolute;
    left: 283px; 
    top: -22px;
    width: 173px;
    height: 66px;
}

.hangboardPic_left img {
    width: 50%;
    height: auto;
}

.hangboardPic_right img {
    width: 50%;
    height: auto;
}


.titleContainer {
    position: relative;
    height: 100px;
    top: -2%;
}

.pagecontentContainer {
    position: relative;
    top: -8%;
}

.scrollBox {
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    height:87%;
    top: 0%;
    width: 99%;
}

/* Calendar page */

.calendarTitle {
    height: 1em;
    width: 100%;
}

.calendarTitle h1 {
    position: absolute;
    top: -75%;
    left: 40%;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
}

.noCalendar {
    
}

.weekDays p {
    width: 90%;
    font-weight: bold;
    display: inline-block;
}

.calendarContainer {
    position: absoulte;
    width: 100%;
    top: 10px;
}


.newDate {
    width: 100%;
    text-align: center;
}


.calDay {
    width: 90%;
    height: 6em;
    border: #c4c4ff solid;
    position: absolute;
    border-radius: 5px;
    cursor: pointer;
}

.dayInfo {
    text-align: center;
    position: relative;
    font-weight: bold;
    font-size: .85em;
    height: 1.8em;
    width: 2em;
    float: right;
    top: 0%;
    outline: #c4c4ff solid;
    outline-width: 2px;
}

.calDayEmpty {
    border-color: #FFFFFF;
}

.calRow {
    height: 17%;
}

.calSpacer {
    height: 2em;
    
}

.calendarContainer .row .col-md-1 {
    height: 100px;
}

.optionsTitle p {
    position: relative;
    left: 42%;
    top: 35%;
    font-size: 1.2em;
    color: #4141ff;
    width: 12%;
    cursor: pointer;
}

.optionsBody{
    position: relative;
    left: 42%;
    top: -30%;
    font-size: 1.2em;
    color: #4141ff;
    width: 36%;
}

.emptyCal {
    height:90%;
    width: 95%;
    margin-top: -2%;
    margin-left: auto;
    margin-right: auto;
    border-color: #a3a3a3;
    border-style: dashed;
    border-radius: 1%;
    color: #a3a3a3;
    text-align: center;
    display: none;
    cursor: pointer;
}

#toolbar {
    padding: 4px;
    display: inline-block;
}

/* Gradient in the calendar */

.caldayGradtop {
    height: 20%;
    width: 100%;
    z-index: -1;
    display: inline-block; 
    position: absolute;
    /* top: -7.5em; */
    top: 0%;
    background: -webkit-linear-gradient(180deg, rgba(196,196,255,.8) , rgba(196,196,255,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(180deg, rgba(196,196,255,.8) , rgba(196,196,255,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(180deg, rgba(196,196,255,.8) , rgba(196,196,255,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(180deg, rgba(196,196,255,.8) , rgba(196,196,255,0)); /* Standard syntax (must be last) */
    opacity: 0;
}


.caldayGradleft {
    height: 5.8em;
    width: 20%;
    z-index: -1;
    display: inline-block; 
    position: absolute;
    /* top: -9.45em; */
    top: 0%;
    left: 0%;
    background: -webkit-linear-gradient(90deg, rgba(196,196,255,.8) , rgba(196,196,255,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, rgba(196,196,255,.8) , rgba(196,196,255,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, rgba(196,196,255,.8) , rgba(196,196,255,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(90deg, rgba(196,196,255,.8) , rgba(196,196,255,0)); /* Standard syntax (must be last) */
    opacity: 0;
}

.caldayGradright {
    height: 5.8em;
    width: 20%;
    z-index: -1;
    display: inline-block;
    position: absolute;
    /* top: -15.4em; */
    top: 0%;
    right: 0%;
    background: -webkit-linear-gradient(270deg, rgba(196,196,255,.8) , rgba(196,196,255,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(270deg, rgba(196,196,255,.8) , rgba(196,196,255,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(270deg, rgba(196,196,255,.8) , rgba(196,196,255,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(270deg, rgba(196,196,255,.8) , rgba(196,196,255,0)); /* Standard syntax (must be last) */
    opacity: 0;
}

.caldayGradbottom {
    height: 20%;
    width: 100%;
    z-index: -1;
    position: absolute;
    display: inline-block;
    /*top: -1.7em; */
    bottom: 0px;
    background: -webkit-linear-gradient(0deg, rgba(196,196,255,.8) , rgba(196,196,255,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(0deg, rgba(196,196,255,.8) , rgba(196,196,255,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(0deg, rgba(196,196,255,.8) , rgba(196,196,255,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, rgba(196,196,255,.8) , rgba(196,196,255,0)); /* Standard syntax (must be last) */
    opacity: 0;
}

.bodyCover {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background: #000000;
    opacity: .6;
    z-index: 2;
    display: none;
}

/* new cal popup stuff */

.addCalPopup {
    position: absolute;
    left: 35%;
    top: 10%;
    height: 70%;
    width: 30%;
    background: #FFFFFF;
    opacity: 1;
    z-index: 3;
    display: none;
}

.addCalHeader {
    width: 90%;
    left: 5%;
    margin-top: 10%;
    border-radius: 10%;
    position: relative;
    display: inline-block;
    height: 15%;
    background: #c4c4ff;
}

.calOptionsContainer {
    position: relative;
    width: 100%;
    top: 5%;
    height: 80%;
}

.newCalBuffer {
    height: 10%;
    position: absolute;
}

.startDateContainer {
    position: absolute;
    margin-left: 10%;
    height: 10%;
    width: 80%;
    height 10%;
}

.startDateContainer p {
    display: inline;
    font-weight: bold;
}

.startDateContainer input {
    font-weight: bold;
    border-radius: 5px;
}

.endDateContainer {
    position: absolute;
    margin-left: 10%;
    height: 10%;
    width: 80%;
    height 10%;
    top: 10%;
}

.endDateContainer p {
    display: inline;
    font-weight: bold;
}

.endDateContainer input {
    font-weight: bold;
    border-radius: 5px;
}

.selectWorkoutsContainer {
    width: 100%;
    height: 10%;
}

.durationContainer {
    position: relative;
    top: -15%;
    width: 100%;
    height: 100%;
}

.workoutsDrop {
    position: relative;
    top: 75%;
    left: 10%;
    height: 100%;
    width: 80%;
    height 10%;
}

.workoutsDrop select {
    text-align: center;
}

.createContainer {
    width: 100%;
    height: 15%;
    margin-top: 15%;
}

.createCal {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background: #B98645;
    color: #315B76;
    text-align: center;
    width: 20em;
    height: 4em;
    cursor: pointer;
}

.createCal h1 {
    position: relative;
    top: 15%;
}

.calDayPopup {
    display: none;
}
/* Bootstrap changes */
.col-xs-12 {
    float:left}
.col-xs-11 {
    float:left}
.col-xs-10 {
    float:left}
.col-xs-9 {
    float:left}
.col-xs-8 {
    float:left}
.col-xs-7 {
    float:left}
.col-xs-6 {
    float:left}
.col-xs-5 {
    float:left}
.col-xs-4 {
    float:left}
.col-xs-3 {
    float:left}
.col-xs-2 {
    float:left}
.col-xs-1 {
    float:left}
.col-xs-0 {
    float:left;
}

