body {
    overflow: hidden;
}

.showDiv {
    visibility: visible
}

.contentContainer {
    overflow-y: hidden;
    overflow-x: hidden;
    visibility: hidden;
    height: 100%;
}

.row {
}

.header {
    position: relative;
    width: 100%;
}

.logo {
    margin-right: 20px;
}

.nav a {
    color: #4141ff;
}

.hangboardHeader {
    position: relative;
    height: 50px;
    width: 100%;
}

.hangboardPic_left {
    display: inline-block;
    position: absolute;
    left: 100px; 
    top: -20px;
}

.hangboardPic_right {
    display: inline-block;
    position: absolute;
    left: 285px; 
    top: -21px;
}

.hangboardPic_left img {
    width: 50%;
    height: auto;
}

.hangboardPic_right img {
    width: 50%;
    height: auto;
}


.titleContainer {
    position: relative;
    height: 100px;
    top: -2%;
}

.pagecontentContainer {
    position: relative;
    top: -8%;
}

.scrollBox {
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    height:80%;
    top: 0%;
    width: 99%;
}

/* Calendar page */

.calendarTitle {
    height: 1em;
    width: 100%;
}

.calendarTitle h1 {
    position: absolute;
    top: -75%;
    left: 40%;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
}

.noCalendar {
    
}

.weekDays p {
    width: 90%;
    font-weight: bold;
    display: inline-block;
    opacity: 0;
}

.calendarContainer {
    position: absoulte;
    width: 100%;
    top: 10px;
}

.calDay {
    width: 90%;
    height: 6em;
    border: #c4c4ff solid;
    position: absolute;
    border-radius: 5px;
    cursor: pointer;
}

.calSpacer {
    height: 2em;
    
}

.calendarContainer .row .col-md-1 {
    height: 100px;
}

.optionsTitle p {
    position: relative;
    left: 45%;
    top: 25%;
    font-size: 1.2em;
    color: #4141ff;
    width: 12%;
    cursor: pointer;
}

.optionsBody{
    position: relative;
    left: 45%;
    top: -20%;
    font-size: 1.2em;
    color: #4141ff;
    width: 36%;
}

#toolbar {
    padding: 4px;
    display: inline-block;
}

/* Gradient in the calendar */
.caldayGradbottom {
    height: 2em;
    width: 100%;
    z-index: -1;
    position: relative;
    top: -1.7em;
    background: -webkit-linear-gradient(0deg, rgba(196,196,255,.8) , rgba(196,196,255,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(0deg, rgba(196,196,255,.8) , rgba(196,196,255,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(0deg, rgba(196,196,255,.8) , rgba(196,196,255,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(0deg, rgba(196,196,255,.8) , rgba(196,196,255,0)); /* Standard syntax (must be last) */
    opacity: 0;
}

.caldayGradtop {
    height: 2em;
    width: 100%;
    z-index: -1;
    position: relative;
    top: -7.5em;
    background: -webkit-linear-gradient(180deg, rgba(196,196,255,.8) , rgba(196,196,255,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(180deg, rgba(196,196,255,.8) , rgba(196,196,255,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(180deg, rgba(196,196,255,.8) , rgba(196,196,255,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(180deg, rgba(196,196,255,.8) , rgba(196,196,255,0)); /* Standard syntax (must be last) */
    opacity: 0;
}
.caldayGradleft {
    height: 5.8em;
    width: 2em;
    z-index: -1;
    position: relative;
    top: -9.45em;
    background: -webkit-linear-gradient(90deg, rgba(196,196,255,.8) , rgba(196,196,255,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(90deg, rgba(196,196,255,.8) , rgba(196,196,255,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(90deg, rgba(196,196,255,.8) , rgba(196,196,255,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(90deg, rgba(196,196,255,.8) , rgba(196,196,255,0)); /* Standard syntax (must be last) */
    opacity: 0;
}

.caldayGradright {
    height: 5.8em;
    width: 2em;
    z-index: -1;
    position: relative;
    top: -15.4em;
    left: 73%;
    background: -webkit-linear-gradient(270deg, rgba(196,196,255,.8) , rgba(196,196,255,0)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(270deg, rgba(196,196,255,.8) , rgba(196,196,255,0)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(270deg, rgba(196,196,255,.8) , rgba(196,196,255,0)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(270deg, rgba(196,196,255,.8) , rgba(196,196,255,0)); /* Standard syntax (must be last) */
    opacity: 0;
}

/* Bootstrap changes */
.col-xs-12 {
    float:left}
.col-xs-11 {
    float:left}
.col-xs-10 {
    float:left}
.col-xs-9 {
    float:left}
.col-xs-8 {
    float:left}
.col-xs-7 {
    float:left}
.col-xs-6 {
    float:left}
.col-xs-5 {
    float:left}
.col-xs-4 {
    float:left}
.col-xs-3 {
    float:left}
.col-xs-2 {
    float:left}
.col-xs-1 {
    float:left}
.col-xs-0 {
    float:left;
}

